In [ ]:
 data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

In [ ]:
Jawaban nomor 1.

In [6]:
def sort_company():
    companies = [
        {
            "name": "Company 6",
            "domain": "New York"
        },
        {
            "name": "Company 5",
            "domain": "Florida"
        },
        {
            "name": "Company 1",
            "domain": "Florida"
        },
        {
            "name": "Company 2",
            "domain": "California"
        },
        {
            "name": "Company 3",
            "domain": "California"
        },
        {
            "name": "Company 4",
            "domain": "California"
        }
    ]

    # Mengurutkan daftar perusahaan berdasarkan nilai Domain (domain)
    sorted_companies = sorted(companies, key=lambda x: x["domain"])

    # Mencetak perusahaan yang telah diurutkan
    for company in sorted_companies:
        print(f"Company: {company['name']}, Domain: {company['domain']}")

sort_company()

Company: Company 2, Domain: California
Company: Company 3, Domain: California
Company: Company 4, Domain: California
Company: Company 5, Domain: Florida
Company: Company 1, Domain: Florida
Company: Company 6, Domain: New York

In [ ]:
Jawaban nomor 2.

In [9]:
# lengkapi function berikut
def get_company_domain():
    company_domains = {
        "Company 1": "Retail",
        "Company 2": "Construction",
        "Company 3": "Healthcare"
    }
    
    for company, domain in company_domains.items():
        print(f"{company}: {domain}")

# Panggil fungsi untuk mencetak nilai Domain untuk setiap perusahaan
get_company_domain()

Company 1: Retail
Company 2: Construction
Company 3: Healthcare

In [ ]:
nomor 3

In [30]:

def get_employees_with_domain(employees, company_domains):
    # Daftar karyawan beserta domain perusahaan mereka
    result = []
    for employee in employees:
        company = employee["company"]
        if company in company_domains:
            # Menambahkan informasi domain perusahaan ke setiap karyawan
            employee_info = {
                "full_name": employee["full_name"],
                "company": company,
                "domain": company_domains[company]
            }
            result.append(employee_info)
    return result

# Data karyawan
employees = [{"full_name": "John Doe", "company": "Company 1"},
             {"full_name": "Tom Smith", "company": "Company 2"},
             {"full_name": "Andrew Sebastian", "company": "Company 2"}]


# Memanggil fungsi untuk mendapatkan informasi domain perusahaan
company_domains = get_company_domain()

# Memanggil fungsi untuk mendapatkan informasi karyawan beserta domain perusahaannya
result = get_employees_with_domain(employees, company_domains)

# Mencetak hasilnya
print(result)

[{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}]

In [ ]:
nomor 4

In [34]:
def get_companies_with_employees(employees):
    companies = {}
    for employee in employees:
        company = employee["company"]
        full_name = employee["full_name"]
        if company not in companies:
            companies[company] = []
        companies[company].append(full_name)
    
    result = []
    for company in sorted(companies.keys()):  # Urutkan berdasarkan nama perusahaan
        employees = companies[company]
        company_info = {"company": company, "employees": employees}
        result.append(company_info)
    
    return result

# Data karyawan
employees = [
    {"full_name": "John Doe", "company": "Company 1"},
    {"full_name": "Tom Smith", "company": "Company 2"},
    {"full_name": "Andrew Sebastian", "company": "Company 2"}
]

# Panggil fungsi untuk mendapatkan informasi perusahaan beserta daftar karyawan yang bekerja di perusahaan tersebut
result = get_companies_with_employees(employees)

# Mencetak hasilnya
print(result)

[{'company': 'Company 1', 'employees': ['John Doe']}, {'company': 'Company 2', 'employees': ['Tom Smith', 'Andrew Sebastian']}]

In [35]:
import pandas as pd
import os

os.getcwd()

'C:\\Users\\HP\\Untitled Folder'

In [49]:
import pandas as pd

# Set option untuk menampilkan seluruh kolom
pd.set_option('display.max_columns', None)

# Membaca file CSV dengan tanda petik pada nama file
df = pd.read_csv('50_Startups.csv')

# Menampilkan seluruh data
print(df)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13             NaN        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10        NaN       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California        NaN
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11              NaN    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23        NaN       105751.03              NaN     Florida  108733.99
24   77044.01             NaN        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31        NaN       152701.92         88218.23    New York        NaN
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95             NaN        197029.42  California   89949.14
38   20229.59        65947.93              NaN    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47        NaN       135426.92              NaN  California   42559.73
48     542.05        51743.15              NaN    New York   35673.41
49        NaN       116983.80         45173.06  California   14681.40

In [51]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

# Membaca data
data_startup = pd.read_csv('50_Startups.csv')

# Analisis kolom dengan data kosong (NaN) dan isi dengan nilai mean
imputer = SimpleImputer(strategy='mean')
data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']] = imputer.fit_transform(data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']])

# OneHotEncoder untuk kolom 'State'
encoder = OneHotEncoder(sparse=False, drop='first')
state_encoded = encoder.fit_transform(data_startup[['State']])
state_encoded_df = pd.DataFrame(state_encoded, columns=encoder.get_feature_names_out(['State']))
data_startup = pd.concat([data_startup, state_encoded_df], axis=1)
data_startup.drop(['State'], axis=1, inplace=True)

# Buat kolom baru "Tax"
data_startup['Tax'] = (data_startup['Profit'] + data_startup['Marketing Spend'] + data_startup['Administration']) * 0.05

# StandardScaler
scaler = StandardScaler()
data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax']] = scaler.fit_transform(data_startup[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit', 'Tax']])

# Tampilkan data setelah pre-processing
print(data_startup.head())

   R&D Spend  Administration  Marketing Spend    Profit  State_Florida  \
0   2.076351        0.554318         2.299248  2.024298            0.0
1   2.011840        1.123258         2.040926  2.012472            0.0
2   1.797168       -0.850460         1.707769  1.993801            1.0
3   1.584537       -0.161817         1.478634  1.788670            0.0
4   1.531431       -1.233706         1.320863  1.367903            1.0

   State_New York       Tax
0             1.0  2.460946
1             0.0  2.361311
2             0.0  1.737043
3             1.0  1.626770
4             0.0  1.188570

C:\Users\HP\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(